.introduction {
  background-color: #3f4551;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/yamile-julian.appspot.com/o/yamile-julian%2Fassets%2Fintroduction-bg.jpeg?alt=media&token=4ad7dfd6-0d39-4e7b-b222-c20c73a3b85e);

  background-position-x: center;
  background-size: 200px;
  padding: 1rem;

  h2,
  p {
    color: rgba($color: #fff, $alpha: 0.8);
  }

  p {
    text-align: justify;
    font-size: 1rem;
  }

  div.introduction-container {
    width: 90%;
    margin: 0 auto;
    padding: 1rem 0;
  }

  div.image-container {
    display: flex;
    justify-content: center;

    img {
      width: 150px;
    }
  }

  .container-button {
    margin-top: 1rem;
    text-align: center;

    button {
      border: none;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.8);
      color: #3f4551;

      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
      }

      &:active {
        background-color: rgba(255, 255, 255, 1);
      }
    }
  }

  @media (min-width: 769px) {
    padding: 2rem;
    background-size: 400px;
    background-attachment: fixed;

    p {
      text-align: justify;
      font-size: 1.3rem;
    }

    div.introduction-container {
      width: 65%;
      margin: 0 auto;
    }

    div.image-container {
      img {
        width: 256px;
      }
    }
  }
}
