.faqs {
  background-color: #d5cbbf;
  padding: 1rem;

  h2,
  h3 {
    color: #3f4551;
  }

  p {
    margin-top: 0;
    text-align: justify;
  }

  h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 1rem 0;
    padding: 0;
  }

  div.faq {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }

    .answer {
      margin: 0;
      padding: 0;
      display: none;
    }
  }

  div.faqs-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  div.iframe-container {
    width: 100%;
  }

  iframe {
    width: 100%;
  }

  .container-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

    div {
      color: #3f4551;
      font-size: 1.1rem;
      margin-top: 0.3rem;
      text-align: center;
    }

    .whatsapp {
      margin-right: 0.2rem;
    }

    button.button-whatsapp {
      border: none;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      background-color: #25d366;
      color: #fff;
      display: flex;
      align-items: center;

      &:hover {
        background-color: rgba($color: #25d366, $alpha: 0.9);
      }

      &:active {
        background-color: rgba($color: #25d366, $alpha: 0.8);
      }
    }
  }

  @media (min-width: 769px) {
    padding: 2rem;
    h3 {
      font-size: 1.5rem;
    }
    div.faq {
      flex: 0 0 50%;
      padding: 0 2rem;
    }

    div.faqs-container {
      flex-direction: row;
    }

    .container-button {
      div {
        width: 30%;
      }
    }
  }
}
