.faqs {
  background-color: #d5cbbf;
  padding: 1rem;

  h2,
  h3 {
    color: #3f4551;
  }

  h3 {
    font-size: 1.5rem;
    margin: 1rem 0;
    padding: 0;
  }

  div.faq {
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
    }

    .answer {
      margin: 0;
      padding: 0;
      display: none;
    }
  }

  div.faqs-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  div.iframe-container {
    width: 100%;
  }

  iframe {
    width: 100%;
  }

  @media (min-width: 769px) {
    padding: 2rem;
    h3 {
      font-size: 1.5rem;
    }
    div.faq {
      flex: 0 0 50%;
      padding: 0 2rem;
    }

    div.faqs-container {
      flex-direction: row;
    }
  }
}
