header {
  color: #3f4551;
  display: flex;
  flex-direction: column;
  background-image: url(../../../assets/images/header03_1280.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  height: 100vh;
  color: rgba(255, 255, 255, 0.8);

  &.normal {
    background-image: none;
    height: 5vh;
    background-color: #d5cbbf;

    h1.title {
      display: none;
    }
  }

  a.logo {
    color: rgba(255, 255, 255, 0.8);
    flex: 1;

    h1:hover {
      color: rgba(255, 255, 255, 0.9);
    }

    h1:active {
      color: rgba(255, 255, 255, 1);
    }
  }

  h1.title {
    font-family: 'Style Script', cursive;
    font-size: 3.2rem;
    padding: 0 3rem;
    line-height: 50px;
    text-align: center;
    flex: 1;
    margin-top: 3rem;
  }

  div.hero {
    padding-top: 7rem;

    p {
      font-size: 3rem;
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      margin-bottom: 0;
    }

    p.town {
      font-size: 2rem;
      margin-top: 0;
    }

    button {
      border: none;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.8);
      color: #3f4551;

      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
      }

      &:active {
        background-color: rgba(255, 255, 255, 1);
      }
    }

    .container-button {
      margin-top: 1rem;
      text-align: center;
    }
  }

  @media only screen and (orientation: landscape) and (max-width: 769px) {
    div.hero {
      padding-top: 0;
    }

    h1.title {
      margin-top: 0;
    }
  }

  @media (min-width: 769px) {
    height: 80vh;
    background-position-y: bottom;

    &.normal {
      height: 10vh;

      h1.title {
        display: block;
        color: rgba($color: #fff, $alpha: 0.8);
        font-size: 2rem;
        line-height: 1;
      }

      .line-menu-container {
        background-color: #3f4551;

        .line-menu {
          flex: 3;
        }
      }
    }

    div.line-menu-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 2rem;

      nav,
      h1 {
        flex: 1;
      }
    }

    h1.title {
      font-size: 4rem;
      line-height: 70px;
      margin-top: 0.67em;
      padding: 0 3rem;
    }
  }
}
