header {
  color: #3f4551;
  display: flex;
  flex-direction: column;
  background-color: #3f4551;
  background-image: url(https://firebasestorage.googleapis.com/v0/b/yamile-julian.appspot.com/o/yamile-julian%2Fassets%2Fheader_bg.jpeg?alt=media&token=a20099b1-696f-4fef-94b2-1322b5264f0a);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: center;
  height: 100vh;
  color: rgba(255, 255, 255, 0.8);

  &.normal {
    background-image: none;
    height: 0;

    h1.title {
      display: none;
    }
  }

  p {
    color: rgba(255, 255, 255, 0.8);
  }

  a.logo {
    color: rgba(255, 255, 255, 0.8);
    flex: 1;

    h1:hover {
      color: rgba(255, 255, 255, 0.9);
    }

    h1:active {
      color: rgba(255, 255, 255, 1);
    }
  }

  h1.title {
    font-family: 'Style Script', cursive;
    font-size: 3.2rem;
    padding: 0 3rem;
    line-height: 50px;
    text-align: center;
    flex: 1;
    margin-top: 3rem;
  }

  div.countdown {
    width: fit-content;
    margin: 0 auto;
    font-family: 'Bebas Neue', cursive;
    background-color: rgba($color: #fff, $alpha: 0.8);
    border-radius: 0 0 8px 8px;
    color: #3f4551;
    padding: 0.8rem 1rem;
    line-height: 0.9;
    text-align: center;
    &-title {
      font-size: 1.5rem;
    }

    &-number {
      font-size: 3rem;
    }

    &-days {
      font-size: 1.5rem;
    }
  }

  div.header {
    padding-top: 1rem;

    p {
      font-size: 3rem;
      text-align: center;
      font-family: 'Bebas Neue', cursive;
      margin-bottom: 0;
    }

    p.town {
      font-size: 2rem;
      margin-top: 0;
    }

    button {
      border: none;
      padding: 1rem 2rem;
      border-radius: 10px;
      font-size: 1rem;
      background-color: rgba(255, 255, 255, 0.8);
      color: #3f4551;

      &:hover {
        background-color: rgba(255, 255, 255, 0.9);
      }

      &:active {
        background-color: rgba(255, 255, 255, 1);
      }
    }

    .container-button {
      margin-top: 1rem;
      text-align: center;
    }
  }

  @media only screen and (orientation: landscape) and (max-width: 769px) {
    height: auto;
    padding-bottom: 1rem;
    div.header {
      padding-top: 0;
    }

    h1.title {
      margin-top: 0;
    }
  }

  @media (min-width: 769px) {
    div.countdown {
      padding: 1.2rem;
      line-height: 0.9;
    }
    div.header {
      padding-top: 7rem;
    }
    height: 80vh;
    background-position-y: bottom;

    &.normal {
      height: 10vh;
      h1.title {
        display: block;
        color: rgba($color: #fff, $alpha: 0.8);
        font-size: 2rem;
        line-height: 1;
      }

      .line-menu-container {
        background-color: #3f4551;

        .line-menu {
          flex: 3;
        }
      }
    }

    div.line-menu-container {
      display: flex;
      justify-content: space-around;
      align-items: center;
      padding: 0 2rem;

      nav,
      h1 {
        flex: 1;
      }
    }

    h1.title {
      font-size: 4rem;
      line-height: 70px;
      margin-top: 0.67em;
      padding: 0 3rem;
    }
  }
}
