.ul-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ul-nav li {
  padding: 0 1rem;
}

.link-nav {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  font-size: 1.2rem;
}

.link-nav:hover {
  color: rgba(255, 255, 255, 1);
}
