footer {
  background-color: #202020;
  color: rgba($color: #fff, $alpha: 0.8);
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 1rem 0;
  font-size: 0.9rem;

  a,
  a:link,
  a:visited {
    text-decoration: none;
    border: none;
    color: rgba($color: #fff, $alpha: 0.8);
    padding: 0 0.4rem;
  }

  div {
    display: flex;
    justify-content: center;
    align-content: center;
  }
}
